:root{
    /* Primary */

--Soft-red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);

/* Neutral */

--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%) ;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: var(--Cream);
    height: 100vh;
    align-items: center;

}

.main{
    margin: 3.1em 0;

    border: 1px solid black;
    width: 15.75em;
    width: 90%;
    max-width: 18.75em;
    height: 19em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.main-balance{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3.8em;
    border: 1px solid black;
    background-color: var(--Soft-red);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0.62em;
    color: var(--Very-pale-orange);
}

.main-bottom{
    width: 100%;
    height: 14em;
    border: 1px solid black;
    background-color: var(--Very-pale-orange);
    border-radius: 10px;
}



.main_my-balance{
    font-size: 0.5em;
    margin: 0.31em 0;

}
.main_total{
    font-size: 1em;
    font-weight: 700;
}
.logo{
    width: 1.8em;
    height: 1.8em;
}
.main-balance_rigth{
    display: flex;
}

@media (min-width: 500px) {
    body{
        font-size: 22px;
    }
  }


@media (min-width: 800px) {
    body{
        font-size: 24px;
    }
  }

@media (min-width: 1200px) {
    body{
        font-size: 32px;
    }
  }


@media (min-width: 1600px) {
    body{
        font-size: 40px;
    }
  }